h1{
	font-family:Microsoft JhengHei;
	align:center;}
	h1.blue{color:#7392B7;		        
}
a {
	text-decoration:none;
	color:#2C3033;
}
h2.darkcolor{color:#2C3033;display:inline;margin: 10px;}

.div {
	border: 5px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family:Microsoft JhengHei;
	}